@model Movies.Web.ViewModels.Movie.MovieDetailsViewModel

<div class="row">
    <div class="col-md-4">
        <div class="media">
            <div class="media-left">
                <img class="media-object" 
                     src="@Url.Action("MovieImage", "Movie", new { area = "", movieId = Model.Id })"/>
            </div>
    
            <div class="media-body">
                <h2>
                    @Model.Name
                </h2>
                        
                <p class="media-heading">
                    @Model.Year
                </p>
                
                <p class="media-heading">
                    @Model.RunningTime
                </p>
                
                <p class="media-heading">
                    @Model.GenreName
                </p>
                
                <textarea>
                    @Model.Description
                </textarea>
                
                @if (Model.Participants.Any())
                {
                    foreach (var participant in Model.Participants)
                    {
                        <div class="media-left">
                            <img class="media-object" 
                                 src="@Url.Action("PersonPicture", "Person", new { area = "", personId = participant.Id })"/>
                        </div>

                        <p class="media-heading">
                            @participant.FullName
                        </p>

                        <p class="media-heading">
                            @participant.Nationality
                        </p>

                        <p>
                            @participant.Role
                        </p>
                    }
                }
            </div>
        </div>
    </div>
</div>
