@model Movies.Web.ViewModels.UserViewModels.UserDetailsViewModel
    
<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm<UserController>(c => c.EditUser(null), FormMethod.Post, null, new { enctype = "multipart/form-data" }))
        {
            <span class="alert-danger">
                @Html.ValidationSummary()
            </span>

            <div class="form-group">
                <label>
                    @Html.LabelFor(p => p.FirstName)
                </label>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                    @Html.EditorFor(p => p.FirstName,
                        new { htmlAttributes = new { @class = "form-control", placeholder = "first name of person", required = true }})
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(p => p.LastName)
                </label>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                    @Html.EditorFor(p => p.LastName,
                        new { htmlAttributes = new { @class = "form-control", placeholder = "last name of person", required = true }})
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(p => p.Email)
                </label>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-flag"></i>
                    </span>
                    @Html.EditorFor(p => p.Email,
                        new { htmlAttributes = new { @class = "form-control", placeholder = "email", required = true }})
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(p => p.Gender)
                </label>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-venus" aria-hidden="true"></i>
                    </span>
                    @Html.EnumDropDownListFor(p => p.Gender, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <label>
                    @Html.LabelFor(p => p.ProfilePicture)
                </label>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-picture"></i>
                    </span>
                    <input type="file" name="ProfilePicture" />
                </div>
            </div>

            @Html.AntiForgeryToken()
        }
    </div>
</div>
